mat-form-field {
    min-width: 250px;
    margin-right: 20px;
}

.search-box {
    width: 350px; 
    margin: 10px auto 0 auto;
    margin-top: 14px;
}

mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}